<!--
  Creat a user edit form.
  The form doesn't need to atcually work.
  The import thing is that html form fields appear on the page.
  https://www.w3schools.com/html/html_forms.asp
-->
<!doctype html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/edit.css">
</head>
<body>
<div id="mainbody">
   <div class="edituser">
      <h1>Edit User</h1>
   </div>
   <div class="infobox"> 
     <div class="fm">
        <label for="Change First Name">First Name :</label>
        <input type="text" placeholder="Enter First Name Here" name="newfirstname" required>
     </div>
     <div class="lm">  
        <label for="Change Last Name">Last Name :</label>
        <input type="text" placeholder="Enter Last Name Here" name="newlastname" required>
     </div>
     <div class="oldpas">
        <label for="Old Password">Old Password :</label>
        <input type="text" placeholder="Old Password" name="oldpasword" required>
     </div>
     <div class="newpass">
        <label for="New Password">New Password :</label>
        <input type="text" placeholder="New Password" name="nepasword" required>
     </div>
     <div class="renewpass">     
        <label for="Re-Enter New Password">Re-Enter New Password :</label>
        <input type="text" placeholder="Re-Enter New Password" name="newpasword" required>
    </div>
    <div class="button">
          <button id="sub">Submit</button>
          <button id="canc">Cancel</button>
    </div>
  </div>
</div>
  <footer>
    @ 2018 User Eiter Form. All rights reserved. 
  </footer>
</body>

</html>