
    <div class='behailu'>
      <div class='mainbody'>
        <h1>HTML from behailu</h1>
        <div id="singuph1">
          <h1>Sign Up</h1>
        </div>
      </div class="fillP">
        <div class="formbox">
          <p>Pleas fill in the form to sign up</p>
          <div class="lainfina">
            <label for="First Name">First Name :</label>
            <input type="text" placeholder="Enter First Name Here" name="firstname" required>
          </div>
          <div class="lainla">
            <label for="Last Name">Last Name :</label>
            <input type="text" placeholder="Enter Last Name Here" name="lasttname" required>
          </div>
          <div class="lainem">
            <label for="Email Addres">Email :</label>
            <input type="text" placeholder="Enter Email Here" name="email" required>
          </div>
          <div class="password">
            <label for="Password">Password :</label>
            <input type="text" placeholder="Enter Password Here" name="password" required>
          </div>
          <div repassword>
            <label for="Repeat Password">Repeat Password :</label>
            <input type="text" placeholder="Enter Repeat Password Here" name="repeat password" required>
          </div>

        <label id="chebox">
         <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember Me
        </label>
           <br>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
         <div class="button">
          <button id="sub">Submit</button>
          <button id="canc">Cancel</button>
         </div>
      </div>
      <footer>
        @ 2018 Users Sign Up Form. All rights reserved.
      </footer>
    </div>
      </div>
    </div>
  </div>
