
    <div class='behailu'>
      <div class='mainbody'>
        <h1>HTML from behailu</h1>
        <div id="singuph1">
          <h1>Sign Up</h1>
        </div>
      </div class="fillP">
        <div class="formbox">

         </div>
      </div>
      <footer>
        @ 2018 Users Sign Up Form. All rights reserved.
      </footer>
    </div>
      </div>
    </div>
  </div>
