  <div class='behailu'>
    <h1>HTML from behailu</h1>
    <div class="userifo">
      <div class="profPic">
        <img src="https://4.bp.blogspot.com/_JBHfzEovWs8/S8X3w8s9KVI/AAAAAAAAAPk/sY6y3EyR-uo/s1600/no-photo-facebook.jpg" alt="User Picture">
      </div>
      <div class="username">
        <h2>USER NAME :</h2>
        <h3><%= @user.name.capitalize %></h3>
      </div>
      <div class="contact">
       <h2>CONTACT :</h2>
       <P>User prefer to be contact through email</P>
       <h3><%= @user.email %> <button id="ebutton">Send Email</button> </h3>
       <h3><%= link_to 'Delete User', @user, method: :delete %></h3>
      </div>
    </div>
    <footer>
        @ 2018 Users Contact. All rights reserved.
    </footer>
  </div>

  <div class='caitlin'>
    <h1>HTML from Caitlin</h1>
    <h1>This is a blog.</h1>

    <div>
      <h3> Post #1:</h3>
      <p> This blogger does not have much to say. </p>
    </div>

    <div>
      <h3> Post #2:</h3>
      <p> All of my blog posts are one sentence long. </p>
    </div>

    <div>
      <h3> Post #3:</h3>
      <p> Here is another post. </p>
    </div>

    <div>
      <h3> Post #4:</h3>
      <p> You should <a href="http://www.google.com" target="_blank" class="button">google</a> something. </p>
    </div>
  </div>
